.text-h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
    margin-top: 30px;
	margin-bottom: 30px;
    text-align: center;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

