.label-text, .input {
    padding: 14px 16px;
    text-decoration: none;
}

.label-text {
    color: white;
}

.input {
    color: black;
    height: 100%;
    width: 225px;
}

.searchbar {
    background-color: #333
}